@use "../../../styling/variables";
@use "../../../styling/mixins";

.product {
    background-color: white;
    display: flex;
    flex-direction: column;
    @include mixins.separate-from-border();
    padding-bottom: 1rem;
    position: relative;
    border-radius: 9px;
    box-shadow: variables.$box-shadow;

    h4 {
        margin-bottom: 0.5rem;
        color: variables.$primary;
    }

    .cost-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        width: fit-content;
        font-size: 0.9rem;
    }

    .buy-button {
        position: absolute;
        background-color: transparent;
        border: none;
        bottom: -15px;
        right: -15px;
    }
}
