@use "../../../styling/variables";
@use "../../../styling/mixins";

@keyframes flashForWait {
    0% {
        filter: opacity(0.8);
    }

    50% {
        filter: opacity(0.2);
    }

    100% {
        filter: opacity(0.8);
    }
}

.product {
    background-color: white;
    display: flex;
    flex-direction: column;
    @include mixins.separate-from-border();
    padding-bottom: 1rem;
    position: relative;
    border-radius: 9px;
    box-shadow: variables.$box-shadow;
    user-select: none;
    transition: all 0.3s ease-in-out;

    .product-img {
        object-fit: contain;
    }

    h4 {
        margin-bottom: 0.5rem;
        color: variables.$primary;
    }

    .cost-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        width: fit-content;
        font-size: 0.9rem;
    }

    .buy-button {
        position: absolute;
        background-color: transparent;
        border: none;
        bottom: -15px;
        right: -15px;

        &:disabled {
            cursor: wait;
            animation: flashForWait 1s ease-in-out infinite;
        }
    }

    &.not-enough {
        pointer-events: none;
        filter: grayscale(1);
    }

    @media screen and (min-width: variables.$pc-breakpoint) {
        padding-left: 2rem;
        padding-right: 2rem;

        .product-img {
            margin-top: 2vh;
            margin-bottom: 2vh;
        }

        .buy-button {
            cursor: pointer;
            border-radius: 99px;

            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
                background-color: white;
                outline: 2pt solid variables.$secondary;
            }
        }
    }
}
