$primary: #ff7800;
$primary-dark: #d97011;
$secondary: #6ed1ff;
$text-color: #4e4b4b;

$primary-gradient: linear-gradient(45deg, $primary 0%, #ffb200 85%), $primary;
$box-shadow: #63636333 0px 2px 8px 0px;

$pc-breakpoint: 1024px;
